html {
   min-width: fit-content;
}

body {
   font-family: Lato;
   margin: 0
}

h1 {
   color: #FD2D01;
   display: flex;
   justify-content: center;
   font-size: 4rem;
   margin-bottom: 10px;
}

#logo {
   display: flex;
   justify-content: center;
}

.img-container {
   /*background-image: url(../images/Sphere.png);
   background-repeat: no-repeat;
   background-position: 50%;
   animation: spin 12s linear infinite;*/
   display: flex;
   width: 200px;
   height: 200px;
}
/*@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}*/

.form-container {
   display: flex;
   flex-direction: column;
   margin: auto;
   border-color: #4E5166;
}

.choice-connection{
   display: flex;
   justify-content: center;
   width: 100%;
   font-size: 1.3rem;
}

.choice-connection ul{
   display: flex;
   justify-content: center;
   padding: 5%;
}

#login-form{
   display: flex;
   width: 350px;
   flex-direction: column;
   justify-content: center;
}

.active-btn{
   background-color: rgba(253, 45, 1, 0.6);
}

.connection-form {
   display: flex;
   align-items: center;
   margin: auto;
   width: 100%;
   max-width: 350px;
   min-height: 350px;
   background-color: #FFD7D7;
   box-shadow: 10px 10px 10px -12px rgba(78, 81, 102, 0.5);
   border-radius: 100px;
   padding: 0px 30px 0 30px;

}

.connection-form input {
display: flex;
justify-content: center;
margin: auto;
border: none;
font-weight: bolder;
text-align: center;
border-radius: 30px;
width: 80%;
height: 55px;
font-size: 18px;
color: #4E5166;
transition: 0.2s;
}

.connection-form input:hover {
   transform: scale(1.1);
 }

.connection-form li {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 50%;
   text-align: center;
   border-radius: 25px;
   padding: 15px;
}

.displayLoginError{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 80%;
   color: #FD2D01;
   font-weight: bolder;
   padding: 1em;
}

.displaySignupError{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 80%;
   color: #FD2D01;
   font-weight: bolder;
   padding: 1em;
   text-align: center;
}

.success{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 80%;
   color: #FD2D01;
   font-weight: bolder;
   padding: 1em;
   font-size: 1.3rem;
   text-align: center
}